---
import { cards } from '@data/cards';
import AnaCard from './AnaCard.astro';
import DialogCard from './DialogCard.astro';
---

<section class="cards">
  {
    cards.map(({ id, name, description, image, category, level }) => (
      <AnaCard
        id={id}
        name={name}
        image={image}
        category={category}
        description={description}
        level={level}
      />
    ))
  }
</section>

<DialogCard />

<style>
  section.cards {
    gap: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
</style>

<script>
  import { AnaCard } from './ana-card.wc';

  const dialogCard = document.querySelector<HTMLDialogElement>('dialog.dialog-card');
  document.querySelectorAll<AnaCard>(AnaCard.componentName).forEach(card => {
    card.addEventListener('click', () => {
      card.classList?.add('hidden-card');
      dialogCard?.setAttribute('data-card-id', `${card.dataset.id}`);
      dialogCard?.showModal();
    });
  });
</script>
