---
import Creator from '@components/Creator';
import ScrollToTop from '@components/ScrollToTop.astro';
import PageLayout from '@layouts/Page.astro';
import { creators } from '@data/creators';
---

<PageLayout title="Creadores">
  <main class="creators">
    <h1 class="title">Creadores</h1>

    {
      creators.map(({ name, description, avatar, links, birthdate, isAmazing }, index) => (
        <Creator
          avatar={avatar}
          name={name}
          description={description}
          direction={index % 2 === 0 ? 'left' : 'right'}
          links={links}
          birthdate={birthdate}
          isAmazing={isAmazing}
        />
      ))
    }
  </main>

  <ScrollToTop />
</PageLayout>

<style>
  .creators {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem;

    & .title {
      width: 70%;
      max-width: 615px;
      position: relative;
      font-family: var(--font-family-primary);
      font-size: 3.5rem;
      text-align: center;
      margin: 1rem 0 2rem;
      user-select: none;

      @media (width >= 768px) {
        width: 100%;
        font-size: 5.5rem;
      }

      &::after {
        content: '';
        position: absolute;
        height: 0.3rem;
        background: var(--rainbow-gradient);
        inset-inline: 0;
        inset-block-end: -1rem;
      }
    }
  }
</style>
